<form>
  <label for="name">Name</label>
  <input type="text" name="item[name]" id="name">

  <label for="price">Price</label>
  <input type="text" name="item[price]" id="price">

  <input type="submit">
</form>